h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty h1  {
	color :green;
	font-family: "Helvetica Neue", Helvetica;
  	font-weight: 100;
  	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2  {
	color :red;
	font-family: "Helvetica Neue", Helvetica;
  	font-weight: 200;
  	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}
.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('congruent_outline.png');
}

.navbar-inverse, .navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color:red;
  }

  body {
  	background:url('pool_table.png');
  	 font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  }

  .hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
}
.frosty {
  background:rgba(0,0,0, 0.5);
  color:white;
}

.btn {
  border-radius:0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}


$footer-height: 100px;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
  height:100px;
  color:white;
  background-color: rgba(36,32,33,0.9);
  font-family: "Helvetica Neue",Helvetica;
  padding:10px 0px;
  margin-top:30px;
}

.clr {
  clear:both;
  background-color: rgba(36,32,33,0.9);
}

#footer a {
  color:white;
  font-weight:100;
}


.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}


.field_with_errors { 
color: #FF3333;
background-color: #FFEEEE; 
border-radius:3px; 
padding:8px; 
margin:10px;
}