.frosty h1  {
	color :green;
	font-family: "Helvetica Neue", Helvetica;
  	font-weight: 100;
  	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2  {
	color :red;
	font-family: "Helvetica Neue", Helvetica;
  	font-weight: 200;
  	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}
.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('congruent_outline.png');
}

.navbar-inverse, .navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color:red;
  }

  body {
  	background:url('pool_table.png');
  }

  .hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
}
.frosty {
  background:rgba(0,0,0, 0.5);
  color:white;
}

.btn {
  border-radius:0;
}